@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: normal 100%/1.3 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  display: inline-block;
}

img {
  width: 100%;
  display: block;
  margin;
}

.card {
  padding: 0.005rem 1rem 1rem 1rem;
  margin: 0;
  display: inline-block;
}

h1 {
  margin-top: 0.5rem;
}

section {
  background-color: #e2e2e2;
}

section p {
  margin: 0 0 .5em 0;
}

.btn {
  color: #fff;
  background-color: #333;
  font-size: 1.125rem;
  text-decoration: none;
  margin: 5px;
  padding: .45em;
  border: 3px solid #333;
  border-radius: 8px;
  border-width: 3px;
  display: inline-block;
}

.btn-small {
  font-size: 0.875rem;
}

.btn:hover {
  background-color: #000;
  border-color: #000;
  border-width: 3px;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 110%;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  section {
    padding-top: 2rem;
  }

  .card {
    max-width: 49%;
  }

  a {
    text-align: left;
  }

  .img-flex {
    max-width: 49%;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

}
